*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          

}
.container{
          width: 100%;
          min-height: 100vh;
          background:linear-gradient(135deg,#192c53,#3a0647) ;
          padding: 10px;
}
.todo{
          width: 100%;
          max-width: 540px;
          background: #fff;
          margin: 100px auto;
          padding: 40px 30px 70px;  
          border-radius: 20px;
          
          
}
.todo img {
          height: 50px;
}
.row{
          display: flex;
          align-items: center;
}
.row input{
          height: 32px;
          border: none;
          outline: none;
          font-weight: 14px;
          background: transparent;
          padding: 10px;
          width: 350px;

}
.row button {
          height: 35px;
          width: 55px;
          background-color: #ff5945;
          color: #fff;
          cursor: pointer;
          border: none;
          border-radius: 40px;
          outline: none;


}
ul li{
          list-style: none;
          font-size: 17px;
          user-select: none;
          cursor: pointer;
          padding: 12px 8px 12px 50px;


}
